<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    
    <h1>Page Not Found from 404.ejs</h1>
    <p>Please try another address</p>

<%- include('includes/end.ejs') %>
<!-- 
https://lumiere-a.akamaihd.net/v1/images/p_tarzan_19875_de73a443.jpeg?region=0%2C0%2C540%2C810" -->